.App {
  display:grid;
  grid-row: 2;
  grid-column: 2;
  text-align: center;
  background-color: #1f7252;
  height:100vh;
  width: 100vw;
}

.App-header {
  background-color:rgb(204, 155, 82);
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(131, 10, 34);
}

.emails{
  flex-direction: column;
  justify-content: center;
  height: 30vh;
  width: 80vw;
  color:antiquewhite;
  font-size: 3vmin;
  grid-column: 1;

}

