.App {
  text-align: center;
  background-color: #1f7252;
  height:100vh;
  width: 100vw;
}

.App-header {
  background-color:rgb(204, 155, 82);
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(131, 10, 34);
}

.emails{
  background-color: black;
  color:antiquewhite;

}

